@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
        flex-wrap: wrap;
        align-items: center;
    }   
    .about-containers {
        flex-wrap: wrap;
    }
   
    #projects .details-container {
        height: min-content;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }   
    #hamburger-nav {
        display: flex;
        justify-content: end;
        margin-right: 10%;
    }
    #experience, 
    .experience-details.container {
        margin-top: 2rem;
    }
    .arrow {
        display: none;
    }
    section,
    .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section_pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto;
    }
    .about-containers {
        margin-top: 0;
    }
    #react {
        justify-content: flex-start;
    }
    #projects .about-containers{
        padding-top: 10vw;
    }
    #projects .details-container {
        height: min-content;
    }
    .project-btn {
        width: 7rem;
    }
    
}

@media screen  and (max-width: 1000px) {
    .projects-btn-container {
        flex-direction: column;
        gap: 0;
    }
    .project-btn {
        height: 1.5rem;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
        width: 7rem;
    }
}

@media screen  and (max-width: 600px) {
    #contact,
    footer {
        height: 40vh;
    }
    #profile {
        height: 83vh;
        margin-bottom: 90px;
    }
    #about p{
        padding-top: 10vw;
    }
    
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    /*.section_pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }*/
    .section_text_p2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
    #projects .about-containers{
        flex-direction: column;
        padding-top: 10vw;
    }
    .project-btn {
        width: 8rem;
    }
    .btn-container {
        flex-direction: row;
        gap: 1rem;
    }
    .project-btn {
        height: unset;
        padding: 1rem;
        margin: 1rem 0;
        width: 8rem;
    }
   
}

@media screen  and (max-width: 312px) {
    .project-btn {
        height: unset;
        padding: 1rem;
        margin: 0;
        width: 8rem;
    }
}